.main-container {
  height: 100vh;
  width: 100%;
  background-color: #f1f5f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.heading-text {
  text-align: center;
  color: #2d3a35;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 600;
}

.count-text {
  color: #c20a72;
}

.description-text {
  text-align: center;
  color: #2d3a35;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 45%;
  }

  .heading-text {
    font-size: 42px;
  }

  .description-text {
    font-size: 20px;
  }

  .button {
    font-size: 18px;
  }
}
