.main-container {
  background-color: #ffd569;
  width: 100%;
  padding: 20px;
}

.cards-container {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.heading-text {
  text-align: center;
  color: #000000;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 800;
}

.fruit-counter {
  color: #ffd569;
}

.fruit-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.fruit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fruit-image {
  width: 100%;
  margin-bottom: 26px;
}

.eat-fruit-button {
  background-color: #007bff;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}

@media screen and (min-width: 768px) {
  .main-container {
    height: 100vh;
    justify-content: center;
    padding: 50px;
  }

  .heading-text {
    font-size: 32px;
  }

  .fruit-card-container {
    flex-direction: row;
  }

  .fruit-image {
    max-width: 60%;
  }
}
