.main-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px #333333;
  padding: 30px;
}

.card-heading {
  color: #0b69ff;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 800;
  margin-bottom: 30px;
}

.card-description {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.card-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
}

.random-number {
  color: #0b69ff;
  font-family: Roboto;
  font-size: 42px;
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .card-heading {
    font-size: 30px;
  }

  .card-description {
    font-size: 20px;
  }

  .card-button {
    font-size: 18px;
  }

  .random-number {
    font-size: 42px;
  }
}
